@model IEnumerable<MvcApplication1.Models.LogModel>

@{
    ViewBag.Title = "Log";
}
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Alterado por</th>
                <th>Alterado em</th>
                <th>Universidade</th>
                <th>Cidade</th>
            </tr>
        </thead>

        <tbody>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Universidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CidadeUniversidade)
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}


