@model PagedList.IPagedList<MvcApplication1.Models.AlunoDB>
@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "Alunos";
}

<h2>Alunos</h2>

<p>
    @Html.ActionLink("Criar novo aluno", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar para Home", "Index", "Home", null, new { @class = "btn btn-default" })
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Aluno</h2>
    </div>
    <div class="acoes panel body">

        @using (Html.BeginForm("Index", "Aluno", FormMethod.Get))
        {
            <p>
                @Html.TextBox("busca", ViewBag.filtro as string, new { @class = "busca" })
                <input type="submit" value="Buscar" class="btn btn-default" />
            </p>
        }

        <table class="table table-condensed table-hover">
            <tr>
                <th>

                    @Html.ActionLink("Aluno", "Index", new { ordem = ViewBag.aluno, filtro = ViewBag.filtro })
                </th>
                <th>
                    @Html.ActionLink("Email", "Index", new { ordem = ViewBag.email, filtro = ViewBag.filtro })
                </th>
                <th>
                    @Html.ActionLink("Data Nascimento", "Index", new { ordem = ViewBag.data, filtro = ViewBag.filtro })
                </th>
                <th>
                    @Html.ActionLink("Curso", "Index", new { ordem = ViewBag.curso, filtro = ViewBag.filtro })
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.alunoNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.alunoEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cursoNome)
                    </td>
                    
                    <td id="td-botoes">
                        @Ajax.ActionLink("Log", "Details", new { id = item.alunoID }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "retornoLog" }, new { @class = "detalhar btn btn-default btn-sm" })
                        @Html.ActionLink("Editar", "Edit", new { id = item.alunoID }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("Excluir", "Delete", new { id = item.alunoID }, new { @class = "btn btn-default btn-sm" })
                    </td>
                </tr>
            }

        </table>
        <div>
            Página 
            @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            de 
            @Model.PageCount
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, ordem = ViewBag.ordemCorrente, filtro = ViewBag.filtro }))
        </div>
    </div>
</div>


@* Modal de detalhes *@
<!-- Small modal -->
<div class="detalhes modal fade" id="detalhes" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="margin-top: 10%;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Log</h4>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("Details", new List<MvcApplication1.Models.LogModel>());}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>