@model MvcApplication1.Models.DisciplinaDB

@{
    ViewBag.Title = "Editar";
}
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Disciplina</h2>
        </div>
        <div class="acoes panel body">
            @using (Html.BeginForm("Edit", "disciplina", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Editar</legend>

                    @Html.HiddenFor(model => model.disciplinaID)
                    @Html.HiddenFor(model => model.cursoID)
                    @Html.HiddenFor(model => model.universidadeID)

                    <div class="editor-label">
                        @Html.LabelFor(model => model.nomeDisciplina, "Disciplina")
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.nomeDisciplina, htmlAttributes: new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.nomeDisciplina)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.nomeUniversidade, "Universidade")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("universidade", null, htmlAttributes: new { @class = "form-control"})
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.nomeCurso, "Curso")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("curso", null, htmlAttributes: new { @class = "form-control"})
                    </div>
                    <br />
                    <p>
                        <input class="btn btn-primary" type="submit" value="Save" />
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
                    </p>
                </fieldset>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
