@model MvcApplication1.Models.NotasDB

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes das notas</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Notas</h2>
    </div>
    <div class="acoes panel body">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.alunoID)</th>
                <th>@Html.DisplayNameFor(model => model.alunoNome)</th>
                <th>@Html.DisplayNameFor(model => model.disciplinaID)</th>
                <th>@Html.DisplayNameFor(model => model.disciplinaNome)</th>
                <th>@Html.DisplayNameFor(model => model.nota)</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.alunoID)</td>
                <td>@Html.DisplayFor(model => model.alunoNome)</td>
                <td>@Html.DisplayFor(model => model.disciplinaID)</td>
                <td>@Html.DisplayFor(model => model.disciplinaNome)</td>
                <td>@Html.DisplayFor(model => model.nota)</td>
            </tr>

        </table>


        <p>
            @Html.ActionLink("Editar", "Edit", new { alunoID = Model.alunoID, disciplinaID = Model.disciplinaID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>